---
import Layout from "../layouts/Main.astro";
---

<Layout>
    <section class="bg-white h-[calc(100vh-15rem)] flex flex-col justify-center items-center">
        <h1 class="text-4xl font-bold">Coming Soon</h1>
        <p class="mt-2 text-xl">Join the <a href="https://support.rustcon.xyz/" class="text-blue-500 hover:underline">Discord</a> for updates and news</p>
    </section>
</Layout>
