<footer class="mt-auto bg-neutral-950 p-4 sm:p-8">
    <div class="lg:mx-24">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="/" class="flex items-center">
                    <img src="/logo.svg" alt="RustCON Logo" class="mr-3 h-8 w-8" />
                    <span class="self-center whitespace-nowrap text-2xl font-semibold text-white">
                        RustCON
                    </span>
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:grid-cols-4 sm:gap-6">
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">
                        Powered By
                    </h2>
                    <ul class="text-gray-400">
                        <li class="mb-4">
                            <a href="https://tempest.net/" class="hover:underline">
                                Tempest
                            </a>
                        </li>
                        <li>
                            <a href="https://rusttools.xyz/" class="hover:underline">
                                Rust Tools
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">
                        Donate
                    </h2>
                    <ul class="text-gray-400">
                        <li class="mb-4">
                            <a href="https://ko-fi.com/kopter/" class="hover:underline">
                                Ko-fi
                            </a>
                        </li>
                        <li>
                            <a href="https://patreon.com/kopter/" class="hover:underline">
                                Patreon
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">
                        Follow us
                    </h2>
                    <ul class="text-gray-400">
                        <li class="mb-4">
                            <a href="https://github.rustcon.xyz/" class="hover:underline">
                                Github
                            </a>
                        </li>
                        <li>
                            <a href="https://support.rustcon.xyz/" class="hover:underline">
                                Discord
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">
                        Legal
                    </h2>
                    <ul class="text-gray-400">
                        <li class="mb-4">
                            <a href="/privacy-policy" class="hover:underline">
                                Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a href="/terms-of-service" class="hover:underline">
                                Terms of Service
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-700 sm:mx-auto lg:my-8" />
        <div class="text-center sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-400">
                © 2022-2023 <a href="/" class="hover:underline">RustCON</a>. All Rights Reserved. 
                Made By <a href="https://kopter.me/" class="hover:underline">Kopter</a>
            </span>
            <div class="mt-4 flex space-x-6 sm:mt-0 sm:justify-center">
                <span class="text-sm text-gray-400">
                    RustCON is not affiliated with, nor endorsed by <a href="https://facepunch.com/" class="hover:underline">Facepunch Studios LTD</a>.
                </span>
            </div>
        </div>
    </div>
</footer>
